In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
# Load the data
df = pd.read_csv('../files/first_25000_rows.csv')

In [4]:
print(f"Dataset shape: {df.shape}")
print(f"Columns: {len(df.columns)}")

Dataset shape: (5000, 74)
Columns: 74

In [5]:
df.describe()

,rtype,publisher_id,instrument_id,depth,price,size,flags,ts_in_delta,sequence,bid_px_00,...,bid_sz_08,ask_sz_08,bid_ct_08,ask_ct_08,bid_px_09,ask_px_09,bid_sz_09,ask_sz_09,bid_ct_09,ask_ct_09
count,5000.0,5000.0,5000.0,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03,5.000000e+03,5000.000000,...,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,10.0,2.0,38.0,1.407600,233.806564,153.169200,128.031600,1.707528e+05,1.344078e+07,233.755936,...,89.929600,259.928600,1.38500,1.886200,233.364424,234.464900,68.382200,185.662200,1.434200,2.097200
std,0.0,0.0,0.0,1.455158,0.170972,129.459973,15.802283,5.433114e+04,1.254097e+06,0.112182,...,135.718278,450.030627,0.50242,1.341943,0.076242,0.232418,89.704575,344.015312,0.504104,1.460198
min,10.0,2.0,38.0,0.000000,232.600000,1.000000,0.000000,1.655530e+05,1.140585e+07,233.500000,...,1.000000,1.000000,1.00000,1.000000,233.200000,233.680000,1.000000,1.000000,1.000000,1.000000
25%,10.0,2.0,38.0,0.000000,233.690000,29.000000,130.000000,1.661180e+05,1.235669e+07,233.700000,...,15.000000,60.000000,1.00000,1.000000,233.310000,234.250000,15.000000,5.000000,1.000000,1.000000
50%,10.0,2.0,38.0,1.000000,233.800000,200.000000,130.000000,1.663280e+05,1.327258e+07,233.760000,...,100.000000,105.000000,1.00000,1.000000,233.390000,234.430000,55.000000,63.000000,1.000000,1.000000
75%,10.0,2.0,38.0,2.000000,233.920000,200.000000,130.000000,1.666125e+05,1.456848e+07,233.850000,...,110.000000,400.000000,2.00000,2.000000,233.400000,234.590000,110.000000,105.000000,2.000000,4.000000
max,10.0,2.0,38.0,9.000000,235.000000,1200.000000,130.000000,2.215188e+06,1.556924e+07,233.980000,...,1207.000000,2000.000000,3.00000,7.000000,233.660000,235.030000,1109.000000,2000.000000,3.000000,7.000000

In [6]:
df.head()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,...,ask_sz_08,bid_ct_08,ask_ct_08,bid_px_09,ask_px_09,bid_sz_09,ask_sz_09,bid_ct_09,ask_ct_09,symbol
0,2024-10-21T11:54:29.221230963Z,2024-10-21T11:54:29.221064336Z,10,2,38,C,B,1,233.62,2,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
1,2024-10-21T11:54:29.223936626Z,2024-10-21T11:54:29.223769812Z,10,2,38,A,B,0,233.67,2,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
2,2024-10-21T11:54:29.225196809Z,2024-10-21T11:54:29.225030400Z,10,2,38,A,B,0,233.67,3,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
3,2024-10-21T11:54:29.712600612Z,2024-10-21T11:54:29.712434212Z,10,2,38,A,B,2,233.52,200,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
4,2024-10-21T11:54:29.764839221Z,2024-10-21T11:54:29.764673165Z,10,2,38,C,B,2,233.52,200,...,155,1,7,233.25,234.13,55,400,2,1,AAPL

In [7]:
print("\nColumn names:")
print(df.columns.tolist())

Column names:
['ts_recv', 'ts_event', 'rtype', 'publisher_id', 'instrument_id', 'action', 'side', 'depth', 'price', 'size', 'flags', 'ts_in_delta', 'sequence', 'bid_px_00', 'ask_px_00', 'bid_sz_00', 'ask_sz_00', 'bid_ct_00', 'ask_ct_00', 'bid_px_01', 'ask_px_01', 'bid_sz_01', 'ask_sz_01', 'bid_ct_01', 'ask_ct_01', 'bid_px_02', 'ask_px_02', 'bid_sz_02', 'ask_sz_02', 'bid_ct_02', 'ask_ct_02', 'bid_px_03', 'ask_px_03', 'bid_sz_03', 'ask_sz_03', 'bid_ct_03', 'ask_ct_03', 'bid_px_04', 'ask_px_04', 'bid_sz_04', 'ask_sz_04', 'bid_ct_04', 'ask_ct_04', 'bid_px_05', 'ask_px_05', 'bid_sz_05', 'ask_sz_05', 'bid_ct_05', 'ask_ct_05', 'bid_px_06', 'ask_px_06', 'bid_sz_06', 'ask_sz_06', 'bid_ct_06', 'ask_ct_06', 'bid_px_07', 'ask_px_07', 'bid_sz_07', 'ask_sz_07', 'bid_ct_07', 'ask_ct_07', 'bid_px_08', 'ask_px_08', 'bid_sz_08', 'ask_sz_08', 'bid_ct_08', 'ask_ct_08', 'bid_px_09', 'ask_px_09', 'bid_sz_09', 'ask_sz_09', 'bid_ct_09', 'ask_ct_09', 'symbol']

In [8]:
print(df.dtypes)

ts_recv          object
ts_event         object
rtype             int64
publisher_id      int64
instrument_id     int64
                  ...
bid_sz_09         int64
ask_sz_09         int64
bid_ct_09         int64
ask_ct_09         int64
symbol           object
Length: 74, dtype: object

In [9]:
first_row = df.iloc[0]
print("\nAPPLE (AAPL) Order Book Snapshot:")
print(f"Timestamp: {first_row['ts_recv']}")
print("\n=== ORDER BOOK (10 levels deep) ===")
print("BIDS (Buyers)           |  ASKS (Sellers)")
print("Price    Size  Count    |  Price    Size  Count")
print("------------------------|-----------------------")

for i in range(10):
   level = f"{i:02d}"
   bid_px = first_row[f'bid_px_{level}']
   bid_sz = first_row[f'bid_sz_{level}']
   bid_ct = first_row[f'bid_ct_{level}']
   ask_px = first_row[f'ask_px_{level}']
   ask_sz = first_row[f'ask_sz_{level}']
   ask_ct = first_row[f'ask_ct_{level}']
   
   print(f"{bid_px:<8} {bid_sz:>4} {bid_ct:>3}    |  {ask_px:<8} {ask_sz:>4} {ask_ct:>3}")

spread = first_row['ask_px_00'] - first_row['bid_px_00']
mid_price = (first_row['ask_px_00'] + first_row['bid_px_00']) / 2

print(f"\nSpread (Ask - Bid): {spread:.2f}")
print(f"Mid Price: {mid_price:.2f}")

APPLE (AAPL) Order Book Snapshot:
Timestamp: 2024-10-21T11:54:29.221230963Z

=== ORDER BOOK (10 levels deep) ===
BIDS (Buyers)           |  ASKS (Sellers)
Price    Size  Count    |  Price    Size  Count
------------------------|-----------------------
233.67    139   1    |  233.74    200   1
233.53     10   1    |  233.75      1   1
233.52    200   1    |  233.77      8   1
233.48     28   1    |  233.78    150   2
233.45     15   1    |  233.79     29   1
233.4     110   2    |  233.8      25   1
233.39     10   1    |  233.94    200   1
233.31    110   2    |  233.98     44   3
233.3     100   1    |  234.0     155   7
233.25     55   2    |  234.13    400   1

Spread (Ask - Bid): 0.07
Mid Price: 233.70

In [10]:
# Look at time progression
print("\nFirst 10 market events:")
print("Row | Action | Side | Price | Best Bid | Best Ask")
print("----|--------|------|-------|----------|----------")

for i in range(10):
   row = df.iloc[i]
   print(f"{i:3d} | {row['action']:>6} | {row['side']:>4} | {row['price']:>6} | {row['bid_px_00']:>8} | {row['ask_px_00']:>8}")

First 10 market events:
Row | Action | Side | Price | Best Bid | Best Ask
----|--------|------|-------|----------|----------
  0 |      C |    B | 233.62 |   233.67 |   233.74
  1 |      A |    B | 233.67 |   233.67 |   233.74
  2 |      A |    B | 233.67 |   233.67 |   233.74
  3 |      A |    B | 233.52 |   233.67 |   233.74
  4 |      C |    B | 233.52 |   233.67 |   233.74
  5 |      A |    B | 233.54 |   233.67 |   233.74
  6 |      A |    A |  233.9 |   233.67 |   233.74
  7 |      A |    A | 233.73 |   233.67 |   233.73
  8 |      C |    A | 233.73 |   233.67 |   233.75
  9 |      A |    A | 233.74 |   233.67 |   233.74

In [11]:
# Check unique values
print(f"\nUnique actions in data: {df['action'].unique()}")
print(f"Sides (B=Bid/Buy, A=Ask/Sell): {df['side'].unique()}")
print(f"Symbols: {df['symbol'].unique()}")

Unique actions in data: ['C' 'A' 'T']
Sides (B=Bid/Buy, A=Ask/Sell): ['B' 'A' 'N']
Symbols: ['AAPL']

In [12]:
# Basic statistics on prices
print(f"\nPrice range: ${df['price'].min():.2f} - ${df['price'].max():.2f}")
print(f"Best bid range: ${df['bid_px_00'].min():.2f} - ${df['bid_px_00'].max():.2f}")
print(f"Best ask range: ${df['ask_px_00'].min():.2f} - ${df['ask_px_00'].max():.2f}")

Price range: $232.60 - $235.00
Best bid range: $233.50 - $233.98
Best ask range: $233.52 - $234.13

In [13]:
# Count of each action type
print(f"\nAction counts:")
print(df['action'].value_counts())

Action counts:
action
A    2695
C    2019
T     286
Name: count, dtype: int64

In [14]:
print(f"\nSide counts:")
print(df['side'].value_counts())

Side counts:
side
B    2497
A    2383
N     120
Name: count, dtype: int64

In [15]:
# Time span analysis
df['ts_recv'] = pd.to_datetime(df['ts_recv'])
time_span = df['ts_recv'].max() - df['ts_recv'].min()
print(f"\nData time span: {time_span}")
print(f"From: {df['ts_recv'].min()}")
print(f"To: {df['ts_recv'].max()}")

Data time span: 0 days 01:09:50.909777596
From: 2024-10-21 11:54:29.221230963+00:00
To: 2024-10-21 13:04:20.131008559+00:00

In [16]:
# Check for missing values
print(f"\nMissing values per column:")
missing = df.isnull().sum()
print(missing[missing > 0])

if missing.sum() == 0:
   print("No missing values found")

Missing values per column:
Series([], dtype: int64)
No missing values found